@use '../index.scss' as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: $container-color;
    border-radius: $border-radius;
    padding: 2rem;
    box-shadow: $shadow;
    max-width: 600px;
    width: 90%;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
        font-size: $h2-font-size;
        color: $title-color;
    }

    .modal-skills {
        font-size: 3rem;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        margin-bottom: 1.5rem;
        color: $text-color;
    }

    .modal-image {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
        margin-bottom: 1.5rem;
    }

    .modal-text {
        margin-bottom: 2rem;
    }

    .modal-buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;

        .modal-link {
            background: $hover-color;
            color: darken($color: $title-color, $amount: 20%);
            border: none;
            border-radius: $border-radius;
            padding: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background: mix($hover-color, black, 80%);
            }
        }

        .modal-close {
            background: $first-color;
            color: $body-color;
            border: none;
            border-radius: $border-radius;
            padding: 1rem 1.5rem;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
                background: mix($first-color, black, 60%);
            }
        }

        .modal-confirm {
            background-color: hsl(0, 86%, 48%);
            padding: 1rem;
            border-radius: $border-radius;
            color: $container-color;

            &:hover {
                background-color: hsl(0, 86%, 38%);
            }
        }

        .modal-cancel {
            background-color: darken($color: $body-color, $amount: 45);
            padding: 1rem;
            border-radius: $border-radius;
            color: $container-color;

            &:hover {
                background-color: darken($color: $body-color, $amount: 60);
            }
        }
    }
}

// For table modal
.profile-table {
    width: 100%;
    border-collapse: collapse;
    
    .table-row {
        padding: 0.5rem;
    }

    .table-data {
        text-align: left;
        font-size: $h3-font-size;
    }
    
    td {
        padding: 1rem;
        border: 1px solid $text-color;
    
        input {
            width: 100%;
            padding: 0.4rem;
            border: none;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    .error {
        color: hsl(0, 88%, 40%);
        font-size: $smaller-font-size;
    }

    .table-data-modal {
        text-align: left;
    }
}