@use '../index.scss' as *;

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0.8rem;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    box-shadow: $shadow;
    z-index: 1000;
    transition: background-color 0.3s;

    &.error {
        background-color: hsl(4, 90%, 38%);
    }

    &.deleted {
        background-color: hsl(4, 90%, 38%);
    }

    .notification-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            font-size: $h1-font-size;
            margin-right: 1rem;
        }

        p {
            font-size: $h3-font-size;
        }
    }
}